/ModBus/bin
/ModBus/obj
/ModBus/ModBus.csproj.user
/_ReSharper.ModBus
/ConsoleApplication1
/ModBus.suo
/Example/bin
/Example/obj
/ModBus.v11.suo
/ModBus/Butek.ModBus.csproj.DotSettings.user
/ModBus.sln.DotSettings.user
/ModBus/app.config
